
<h4>About this Plugin</h4>

<p class="help-block">This plugin has been compiled by Helmut Kaufmann, K&uuml;ssnacht am Rigi, in Switzerland. Helmut can be reached at <a href="mailto:software@mercator.li?subject=Matomo Analytics Plugin for Winter CMS">software@mercator.li</a>.</p>

<p class="help-block">While it might look simple, putting this plugin together took some time. So, if you find it useful, <b>feel free to sponsor a beer, two or
more are welcome as well. <a href="https://www.paypal.com/donate/?hosted_button_id=MZYBN2NEDEDNC" target="_paypal">Paypal</a></b> might be your best friend for this...
Note that this is not about money. It is about appreciation of my time.</p>
</div>

<h4>Copyright Notice</h4>
<p class="help-block">&copy 2022 by Helmut Kaufmann, K&uuml;ssnacht am Rigi, Switzerland (<a href="https://mercator.li">https://mercator.li</a>).</p>

<p class="help-block">This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>

<p class="help-block">This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. </p>

<p class="help-block">You should have received a copy of the GNU General Public License along with this program.  If not, see <a href="https://www.gnu.org/licenses">https://www.gnu.org/licenses</a>.</p>
