
<h4>Matomo Widgets</h4>
<p class="help-block">The following Matomom reports are currently available as individual Winter dashboard widget. Select "Matomo Widget" as the widget type in Winter's dashbaord when adding a new widget.
Then, select the actual report type. Note: The description has been taken from Matomo's reporting engine - if it is incorrect there, it will be incorrect here.</p>
<? use Mercator\Matomo\Models\Settings; $settings = Settings::instance(); echo $settings->mercator_matomo_reports ; ?>

<h4>Matomo Dashbboard</h4>
<p class="help-block">In addition, a full Matomo Dashboard - as it is found in Matomo's backend - is available. Select  Select "Matomo Dashboard" as the widget type in Winter's dashbaord.
