<!DOCTYPE html>

<div class="report-widget" >
    <h3><?= $matomoTitle ?></h3>
      <iframe
        id="<?= $matomoIdent ?>"
        width="100%"
        src="<?= $matomoServerHTTPS ?>://<?= $matomoServer ?>/index.php?module=Widgetize&action=iframe&moduleToWidgetize=Dashboard&actionToWidgetize=index&idSite=<?= $matomoSite ?>&token_auth=<?= $matomoAuthorization ?>&period=range&date=<?= $matomoPeriod ?>"
        frameborder="0" marginheight="0" marginwidth="0"
        >
      </iframe>
</div>

<script>
  iFrameResize({
  	log                     : false,
  	resizedCallback         : function(messageData){ 
      $(window).trigger('resize');
  	}
  }, "#<?= $matomoIdent ?>");
</script>
